nodered/flows_TECDESELETRON03.json
[{"type":"tab","id":"7adc453a.b62bdc","label":"Flow 1"},{"id":"fc04a74b.c0465","type":"mqtt-broker","z":"7adc453a.b62bdc","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"8a345a3b.b7d1b8","type":"twitter-credentials","z":"7adc453a.b62bdc","screen_name":"@mf_tecnequip"},{"id":"f5b32882.86107","type":"twitter-credentials","z":"7adc453a.b62bdc","screen_name":"@Marcelo05051977"},{"id":"74a69438.51892c","type":"mqtt in","z":"7adc453a.b62bdc","name":"","topic":"board/state","broker":"fc04a74b.c0465","x":348,"y":256.800048828125,"wires":[["b124f3c1.17d8"]]},{"id":"93df68be.f4467","type":"debug","z":"7adc453a.b62bdc","name":"","active":false,"console":"false","complete":"false","x":693.5,"y":257.2000427246094,"wires":[]},{"id":"b124f3c1.17d8","type":"function","z":"7adc453a.b62bdc","name":"","func":"var jObject = JSON.parse(msg.payload);\nif(jObject.led == 0) {\n    msg.payload = \"OFF\";\n} else {\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":525.5,"y":257.0000305175781,"wires":[["93df68be.f4467"]]},{"id":"a36d1c9f.c71278","type":"twitter in","z":"7adc453a.b62bdc","twitter":"f5b32882.86107","tags":"","user":"dm","name":"DM","topic":"tweets","x":168.49998474121094,"y":362.40003967285156,"wires":[["8a04553e.7a5108","a20a6db8.6acbb"]]},{"id":"8a04553e.7a5108","type":"debug","z":"7adc453a.b62bdc","name":"","active":true,"console":"false","complete":"false","x":843.4999847412109,"y":356.2000274658203,"wires":[]},{"id":"a20a6db8.6acbb","type":"function","z":"7adc453a.b62bdc","name":"","func":"if(msg.payload == \"ON\") {\n   msg.payload = '{\"led\":1}';\n} else if(msg.payload == \"OFF\") {\n   msg.payload = '{\"led\":0}';\n} else {\n   msg.payload = '{\"led\":-1}';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":488.5,"y":403.2000274658203,"wires":[["8a04553e.7a5108","173d696c.3b4c37"]]},{"id":"173d696c.3b4c37","type":"mqtt out","z":"7adc453a.b62bdc","name":"","topic":"board/commands","qos":"0","retain":"false","broker":"fc04a74b.c0465","x":860.5,"y":407.79998779296875,"wires":[]},{"id":"136cfecc.f30581","type":"inject","z":"7adc453a.b62bdc","name":"","topic":"","payload":"teste","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.49998474121094,"y":419.99998474121094,"wires":[["a20a6db8.6acbb"]]},{"id":"a4695274.5613a8","type":"inject","z":"7adc453a.b62bdc","name":"","topic":"","payload":"{\"mqtt\":{\"enable\":1,\"ip\":\"192.168.0.123\",\"user\":\"teste\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":427.50001525878906,"y":546,"wires":[["173d696c.3b4c37","8a04553e.7a5108"]]},{"id":"2aa00a92.36f37e","type":"inject","z":"7adc453a.b62bdc","name":"","topic":"","payload":"{\"mqtt\":{\"enable\":1}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":399.20001220703125,"y":489.20001220703125,"wires":[["173d696c.3b4c37","8a04553e.7a5108"]]}]