nodered/refe_pagina.txt
[{"id":"7415998f.fa571","type":"http in","z":"5109f61b.04ee98","name":"","url":"/form","method":"get","swaggerDoc":"","x":164.1999969482422,"y":67.19999694824219,"wires":[["ceab006b.e6edc8"]]},{"id":"ceab006b.e6edc8","type":"template","z":"5109f61b.04ee98","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html class=\"supernova\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n<link rel=\"alternate\" type=\"application/json+oembed\" href=\"https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F43483945565972\" title=\"oEmbed Form\"><link rel=\"alternate\" type=\"text/xml+oembed\" href=\"https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F43483945565972\" title=\"oEmbed Form\">\n<meta property=\"og:title\" content=\"43483099096971 Theme:548eeee9700cc4d5098b4567\" >\n<meta property=\"og:url\" content=\"http://www.jotformpro.com/form/43483945565972\" >\n<meta property=\"og:description\" content=\"Please click the link to complete this form.\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0\" />\n<meta name=\"HandheldFriendly\" content=\"true\" />\n<title>43483099096971 Theme:548eeee9700cc4d5098b4567</title>\n<link href=\"//cdn.jotfor.ms/static/formCss.css?3.3.13212\" rel=\"stylesheet\" type=\"text/css\" />\n<link type=\"text/css\" rel=\"stylesheet\" href=\"//cdn.jotfor.ms/css/styles/nova.css?3.3.13212\" />\n<link type=\"text/css\" media=\"print\" rel=\"stylesheet\" href=\"//cdn.jotfor.ms/css/printForm.css?3.3.13212\" />\n<style type=\"text/css\">\n@import 'https://fonts.googleapis.com/css?family=Pacifico';\n\n    .form-label-left{\n        width:150px !important;\n    }\n    .form-line{\n        padding-top:12px;\n        padding-bottom:12px;\n    }\n    .form-label-right{\n        width:150px !important;\n    }\n    body, html{\n        margin:0;\n        padding:0;\n        background:rgba(0, 0, 0, 0.79);\n    }\n\n    .form-all{\n        margin:0px auto;\n        padding-top:0px;\n        width:500px;\n        color:#555 !important;\n        font-family:'Muli';\n        font-size:20px;\n    }\n    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{\n        color: #555;\n    }\n\n</style>\n\n<style type=\"text/css\" id=\"form-designer-style\">\n    /* Injected CSS Code */\n@import \"https://fonts.googleapis.com/css?family=Muli:light,lightitalic,normal,italic,bold,bolditalic|Roboto+Condensed:light,lightitalic,normal,italic,bold,bolditalic\";\n.form-all {\n  font-family: \"Muli\", sans-serif;\n}\n.form-all {\n  width: 500px;\n}\n.form-label-left,\n.form-label-right {\n  width: 150px;\n}\n.form-label {\n  white-space: normal;\n}\n.form-label.form-label-auto {\n  display: inline-block;\n  float: left;\n  text-align: left;\n  width: 150px;\n}\n.form-label-left {\n  display: inline-block;\n  white-space: normal;\n  float: left;\n  text-align: left;\n}\n.form-label-right {\n  display: inline-block;\n  white-space: normal;\n  float: left;\n  text-align: right;\n}\n.form-label-top {\n  white-space: normal;\n  display: block;\n  float: none;\n  text-align: left;\n}\n.form-all {\n  font-size: 20px;\n}\n.form-label {\n  font-weight: normal;\n  font-size: 0.95em;\n}\n.supernova {\n  background-color: rgba(0, 0, 0, 0.79);\n  background-color: #ffffff;\n}\n.supernova body {\n  background-color: transparent;\n}\n/*\n@width30: (unit(@formWidth, px) + 60px);\n@width60: (unit(@formWidth, px)+ 120px);\n@width90: (unit(@formWidth, px)+ 180px);\n*/\n/* | */\n@media screen and (min-width: 480px) {\n  .supernova .form-all {\n    border: 1px solid #e6e6e6;\n    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);\n    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);\n    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);\n  }\n}\n/* | */\n/* | */\n@media screen and (max-width: 480px) {\n  .jotform-form {\n    padding: 10px 0;\n  }\n}\n/* | */\n/* | */\n@media screen and (min-width: 480px) and (max-width: 768px) {\n  .jotform-form {\n    padding: 30px 0;\n  }\n}\n/* | */\n/* | */\n@media screen and (min-width: 768px) and (max-width: 1024px) {\n  .jotform-form {\n    padding: 60px 0;\n  }\n}\n/* | */\n/* | */\n@media screen and (min-width: 1024px) {\n  .jotform-form {\n    padding: 90px 0;\n  }\n}\n/* | */\n.supernova .form-all,\n.form-all {\n  background-color: rgba(0, 0, 0, 0.79);\n  border: 1px solid transparent;\n}\n.form-header-group {\n  border-color: rgba(0, 0, 0, 0.79);\n}\n.form-matrix-table tr {\n  border-color: rgba(0, 0, 0, 0.79);\n}\n.form-matrix-table tr:nth-child(2n) {\n  background-color: rgba(0, 0, 0, 0.79);\n}\n.form-all {\n  color: #555555;\n}\n.form-header-group .form-header {\n  color: #555555;\n}\n.form-header-group .form-subHeader {\n  color: #6f6f6f;\n}\n.form-sub-label {\n  color: #6f6f6f;\n}\n.form-label-top,\n.form-label-left,\n.form-label-right,\n.form-html {\n  color: #ffffff;\n}\n.form-checkbox-item label,\n.form-radio-item label {\n  color: #ffffff;\n}\n.form-line.form-line-active {\n  -webkit-transition-property: all;\n  -moz-transition-property: all;\n  -ms-transition-property: all;\n  -o-transition-property: all;\n  transition-property: all;\n  -webkit-transition-duration: 0.3s;\n  -moz-transition-duration: 0.3s;\n  -ms-transition-duration: 0.3s;\n  -o-transition-duration: 0.3s;\n  transition-duration: 0.3s;\n  -webkit-transition-timing-function: ease;\n  -moz-transition-timing-function: ease;\n  -ms-transition-timing-function: ease;\n  -o-transition-timing-function: ease;\n  transition-timing-function: ease;\n  background-color: rgba(255, 251, 234, 0);\n}\n/* ömer */\n.form-radio-item,\n.form-checkbox-item {\n  padding-bottom: 0px !important;\n}\n.form-radio-item:last-child,\n.form-checkbox-item:last-child {\n  padding-bottom: 0;\n}\n/* ömer */\n.form-single-column .form-checkbox-item,\n.form-single-column .form-radio-item {\n  width: 100%;\n}\n.supernova {\n  height: 100%;\n  background-repeat: no-repeat;\n  background-attachment: scroll;\n  background-position: center top;\n  background-repeat: repeat;\n  background-attachment: fixed;\n  background-size: auto;\n  background-size: cover;\n}\n.supernova {\n  background-image: none;\n  background-image: url(\"//www.jotform.com/uploads/EltonCris/form_files/free-peaceful-christmas-village-wallpaper_1440x900_88106.jpg\");\n}\n#stage {\n  background-image: none;\n  background-image: url(\"//www.jotform.com/uploads/EltonCris/form_files/free-peaceful-christmas-village-wallpaper_1440x900_88106.jpg\");\n}\n/* | */\n.form-all {\n  background-repeat: no-repeat;\n  background-attachment: scroll;\n  background-position: center top;\n  background-repeat: repeat;\n}\n.form-header-group {\n  background-repeat: no-repeat;\n  background-attachment: scroll;\n  background-position: center top;\n}\n.form-line {\n  margin-top: 0px;\n  margin-bottom: 0px;\n}\n.form-line {\n  padding: 8px 36px;\n}\n.form-all .form-submit-button,\n.form-all .form-submit-reset,\n.form-all .form-submit-print {\n  -webkit-border-radius: 6px;\n  -moz-border-radius: 6px;\n  border-radius: 6px;\n}\n.form-all .form-sub-label {\n  margin-left: 3px;\n}\n.form-all {\n  -webkit-border-radius: 20px;\n  -moz-border-radius: 20px;\n  border-radius: 20px;\n}\n.form-section:first-child {\n  -webkit-border-radius: 20px 20px 0 0;\n  -moz-border-radius: 20px 20px 0 0;\n  border-radius: 20px 20px 0 0;\n}\n.form-section:last-child {\n  -webkit-border-radius: 0 0 20px 20px;\n  -moz-border-radius: 0 0 20px 20px;\n  border-radius: 0 0 20px 20px;\n}\n.form-all .qq-upload-button,\n.form-all .form-submit-button,\n.form-all .form-submit-reset,\n.form-all .form-submit-print {\n  font-size: 1em;\n  padding: 9px 15px;\n  font-family: \"Muli\", sans-serif;\n  font-size: 20px;\n  font-weight: normal;\n}\n.form-all .form-pagebreak-back,\n.form-all .form-pagebreak-next {\n  font-size: 1em;\n  padding: 9px 15px;\n  font-family: \"Muli\", sans-serif;\n  font-size: 20px;\n  font-weight: normal;\n}\n/*\n& when ( @buttonFontType = google ) {\n\t@import (css) \"@{buttonFontLink}\";\n}\n*/\nh2.form-header {\n  line-height: 1.618em;\n  font-size: 1.714em;\n}\nh2 ~ .form-subHeader {\n  line-height: 1.5em;\n  font-size: 1.071em;\n}\n.form-header-group {\n  text-align: center;\n}\n/*.form-dropdown,\n.form-radio-item,\n.form-checkbox-item,\n.form-radio-other-input,\n.form-checkbox-other-input,*/\n.form-captcha input,\n.form-spinner input,\n.form-error-message {\n  padding: 4px 3px 2px 3px;\n}\n.form-header-group {\n  font-family: \"Roboto Condensed\", sans-serif;\n}\n.form-section {\n  padding: 0px 0px 0px 0px;\n}\n.form-header-group {\n  margin: 12px 36px 12px 36px;\n}\n.form-header-group {\n  padding: 24px 0px 24px 0px;\n}\n.form-header-group .form-header,\n.form-header-group .form-subHeader {\n  color: #ffffff;\n}\n.form-textbox,\n.form-textarea {\n  padding: 4px 3px 2px 3px;\n}\n.form-textbox,\n.form-textarea,\n.form-radio-other-input,\n.form-checkbox-other-input,\n.form-captcha input,\n.form-spinner input {\n  background-color: rgba(0, 0, 0, 0.71);\n}\n.form-dropdown {\n  -webkit-appearance: menulist-button;\n  height: 24px;\n}\n[data-type=\"control_dropdown\"] .form-input,\n[data-type=\"control_dropdown\"] .form-input-wide {\n  width: 150px;\n}\n.form-dropdown {\n  margin: 0;\n  border-color: #a6a6a6;\n  -webkit-appearance: menulist!important;\n  -moz-appearance: menulist!important;\n  appearance: menulist!important;\n  border-width: 1px;\n}\n.form-buttons-wrapper {\n  margin-left: 0 !important;\n  text-align: center !important;\n}\n.form-header-group {\n  border-bottom: none;\n}\n.form-label {\n  font-family: \"Muli\", sans-serif;\n}\nli[data-type=\"control_image\"] div {\n  text-align: left;\n}\nli[data-type=\"control_image\"] img {\n  border: none;\n  border-width: 0px !important;\n  border-style: solid !important;\n  border-color: false !important;\n}\n.form-line-column {\n  width: auto;\n}\n.form-line-error {\n  overflow: hidden;\n  -webkit-transition-property: none;\n  -moz-transition-property: none;\n  -ms-transition-property: none;\n  -o-transition-property: none;\n  transition-property: none;\n  -webkit-transition-duration: 0.3s;\n  -moz-transition-duration: 0.3s;\n  -ms-transition-duration: 0.3s;\n  -o-transition-duration: 0.3s;\n  transition-duration: 0.3s;\n  -webkit-transition-timing-function: ease;\n  -moz-transition-timing-function: ease;\n  -ms-transition-timing-function: ease;\n  -o-transition-timing-function: ease;\n  transition-timing-function: ease;\n  background-color: #fff4f4;\n}\n.form-line-error .form-error-message {\n  background-color: #ff3200;\n  clear: both;\n  float: none;\n}\n.form-line-error .form-error-message .form-error-arrow {\n  border-bottom-color: #ff3200;\n}\n.form-line-error input:not(#coupon-input),\n.form-line-error textarea,\n.form-line-error .form-validation-error {\n  border: 1px solid #ff3200;\n  -webkit-box-shadow: 0 0 3px #ff3200;\n  -moz-box-shadow: 0 0 3px #ff3200;\n  box-shadow: 0 0 3px #ff3200;\n}\n.ie-8 .form-all {\n  margin-top: auto;\n  margin-top: initial;\n}\n.ie-8 .form-all:before {\n  display: none;\n}\n/* | */\n@media screen and (max-width: 480px), screen and (max-device-width: 768px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape) {\n  .jotform-form {\n    padding: 0;\n  }\n  .form-all {\n    border: 0;\n    width: 100%;\n    max-width: initial;\n  }\n  .form-sub-label-container {\n    width: 100%;\n    margin: 0;\n  }\n  .form-input {\n    width: 100%;\n  }\n  .form-label {\n    width: 100%!important;\n  }\n  .form-line {\n    padding: 2% 5%;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    box-sizing: border-box;\n  }\n  input[type=text],\n  input[type=email],\n  input[type=tel],\n  textarea {\n    width: 100%;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    box-sizing: border-box;\n    max-width: initial !important;\n  }\n  .form-input,\n  .form-input-wide,\n  .form-textarea,\n  .form-textbox,\n  .form-dropdown {\n    max-width: initial !important;\n  }\n  div.form-header-group {\n    padding: 24px 0px !important;\n    margin: 0 12px 2% !important;\n    margin-left: 5% !important;\n    margin-right: 5% !important;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    box-sizing: border-box;\n  }\n  [data-type=\"control_button\"] {\n    margin-bottom: 0 !important;\n  }\n  .form-buttons-wrapper {\n    margin: 0!important;\n  }\n  .form-buttons-wrapper button {\n    width: 100%;\n  }\n  table {\n    width: 100%!important;\n    max-width: initial !important;\n  }\n  table td + td {\n    padding-left: 3%;\n  }\n  .form-checkbox-item input,\n  .form-radio-item input {\n    width: auto;\n  }\n  .form-collapse-table {\n    margin: 0 5%;\n  }\n}\n/* | */\n\n/*__INSPECT_SEPERATOR__*/\n.supernova {\n    background-size : 100% 100%;\n    background-color : #000;\n}\n\n.form-all {\n    border : none !important;\n}\n\n.form-html {\n    color : #fff !important;\n    font-size : 14px;\n}\n\n.form-html p {\n    margin : 4px 0;\n}\n\n.jotform-form {\n    padding : 60px 0 0 0;\n}\n\nbody, .supernova {\n    height : 100%;\n}\n\n.jotform-form {\n    height : 90%;\n}\n\nh2.form-header {\n    line-height : 1em;\n    font-size : 2.8em !important;\n    font-weight : normal !important;\n}\n\n.form-subHeader {\n\n}\n\n.form-label {\n\n}\n\n.form-label-top {\n    width : 100% !important;\n}\n\n.form-header-group {\n    margin : 0 !important;\n    padding : 12px 36px !important;\n    border : none !important;\n}\n\n.form-submit-button, .form-submit-reset, .form-submit-print {\n    position : relative;\n    width : 100%;\n    max-width : 100px;\n    outline : none;\n    text-shadow : none;\n    border : none !important;\n    box-shadow : none;\n    transition : all 0.2s ease;\n}\n\n.form-submit-button:hover {\n    background : transparent  !important;\n    color : #fff  !important;\n    border : none !important;\n    box-shadow : 0 0 0 1px #fff;\n}\n\n.form-textbox,\n.form-textarea,\n.form-dropdown {\n    box-sizing : border-box;\n    box-shadow : none;\n    border : none;\n    color : #fff;\n    border : none;\n    font-size : 16px;\n    font-family : lobster;\n    border : none !important;\n    outline : none;\n    transition : border 0.2s ease-in-out;\n    font-family : \"Muli\", sans-serif;\n}\n\n.form-dropdown option {\n    background : rgba(0, 0, 0, 0.71);\n}\n\n.form-textbox:focus,\n.form-textarea:focus,\n.form-dropdown:focus {\n    box-shadow : none !important;\n    border-bottom : 1px solid #fff !important;\n}\n\n.form-textbox:focus {\n    background-size : 50px;\n}\n\n@media screen and (max-width: 768px){\n    .jotform-form {\n        padding : 146px 0 0 0;\n    }\n\n    h2.form-header {\n        font-size : 2.6em !important;\n        text-align : center !important;\n    }\n\n    .form-subHeader {\n        text-align : center !important;\n    }\n\n    .form-header-group {\n        margin-bottom : 0 !important;\n    }\n\n    .form-all {\n        margin : 0 auto !important;\n    }\n\n}\n\n@media screen and (max-width: 480px){\n    .jotform-form {\n        padding : 10px 0 0 0;\n    }\n\n    h2.form-header {\n        font-size : 2.2em !important;\n    }\n\n    .form-subHeader {\n        text-align : center !important;\n    }\n\n}\n\n.form-line-error {\n    background : none !important;\n}\n\nhtml.supernova body {\n    position : relative;\n    width : 100%;\n    min-height : 480px;\n    background-image : url(//shots.jotform.com/elton/christmas/snow_01.png), url(//shots.jotform.com/elton/christmas/snow_02.png), url(//shots.jotform.com/elton/christmas/snow_03.png);\n    z-index : 10;\n    -webkit-animation : snow 30s linear infinite;\n    -moz-animation : snow 30s linear infinite;\n    -ms-animation : snow 30s linear infinite;\n    animation : snow 30s linear infinite;\n}\n\n@keyframes snow {\n    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}\n     100% {background-position: 600px 1200px, 400px 400px, -300px 300px;}\n}\n\n@-moz-keyframes snow {\n    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}\n    100% {background-position: 600px 1200px, 400px 400px, -300px 300px;}\n}\n\n@-webkit-keyframes snow {\n    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}\n    100% {background-position: 600px 1200px, 400px 400px, -300px 300px;}\n}\n\n@keyframes blink {\n    50% {\n        background: rgba(255, 255, 255, 1);\n    }\n}\n\n@-moz-keyframes blink {\n    50% {\n        background: rgba(255, 255, 255, 1);\n    }\n}\n\n@-webkit-keyframes blink {\n    50% {\n        background: rgba(255, 255, 255, 1);\n    }\n}\n\n\n    /* Injected CSS Code */\n</style>\n\n<script src=\"//cdn.jotfor.ms/static/prototype.forms.js\" type=\"text/javascript\"></script>\n<script src=\"//cdn.jotfor.ms/static/jotform.forms.js?3.3.13212\" type=\"text/javascript\"></script>\n<script type=\"text/javascript\">\n   JotForm.init();\n</script>\n</head>\n<body>\n<form class=\"jotform-form\" action=\"http://localhost:1880/form\" method=\"post\" name=\"form_43483945565972\" id=\"43483945565972\" accept-charset=\"utf-8\">\n  <input type=\"hidden\" name=\"formID\" value=\"43483945565972\" />\n  <div class=\"form-all\">\n    <ul class=\"form-section page-section\">\n      <li id=\"cid_1\" class=\"form-input-wide\" data-type=\"control_head\">\n        <div class=\"form-header-group\">\n          <div class=\"header-text httac htvam\">\n            <h2 id=\"header_1\" class=\"form-header\">\n              Christmas Meetup\n            </h2>\n            <div id=\"subHeader_1\" class=\"form-subHeader\">\n              Join our Christmas Caroling Group\n            </div>\n          </div>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_text\" id=\"id_7\">\n        <div id=\"cid_7\" class=\"form-input-wide\">\n          <div id=\"text_7\" class=\"form-html\">\n            <p><span>Let's form a small caroling group to help less fortunate people. Show your love. Signup below!</span></p>\n            <p>Where: <span style=\"color:#ff0000;\"><strong>Santas Village</strong></span></p>\n            <p>When: <span style=\"color:#ff0000;\"><strong>December 16, 2014 @ 8:AM</strong></span></p>\n          </div>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_textbox\" id=\"id_4\">\n        <label class=\"form-label form-label-left form-label-auto\" id=\"label_4\" for=\"input_4\"> Name </label>\n        <div id=\"cid_4\" class=\"form-input jf-required\">\n          <input type=\"text\" class=\" form-textbox\" data-type=\"input-textbox\" id=\"input_4\" name=\"q4_name\" size=\"20\" value=\"\" />\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_textbox\" id=\"id_8\">\n        <label class=\"form-label form-label-left form-label-auto\" id=\"label_8\" for=\"input_8\"> Email </label>\n        <div id=\"cid_8\" class=\"form-input jf-required\">\n          <input type=\"text\" class=\" form-textbox\" data-type=\"input-textbox\" id=\"input_8\" name=\"q8_email\" size=\"20\" value=\"\" />\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_textarea\" id=\"id_5\">\n        <label class=\"form-label form-label-left\" id=\"label_5\" for=\"input_5\"> Message </label>\n        <div id=\"cid_5\" class=\"form-input jf-required\">\n          <textarea id=\"input_5\" class=\"form-textarea\" name=\"q5_message\" cols=\"26\" rows=\"6\"></textarea>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_button\" id=\"id_2\">\n        <div id=\"cid_2\" class=\"form-input-wide\">\n          <div style=\"margin-left:156px\" class=\"form-buttons-wrapper\">\n            <button id=\"input_2\" type=\"submit\" class=\"form-submit-button\">\n              Submit\n            </button>\n          </div>\n        </div>\n      </li>\n      <li style=\"display:none\">\n        Should be Empty:\n        <input type=\"text\" name=\"website\" value=\"\" />\n      </li>\n    </ul>\n  </div>\n  <input type=\"hidden\" id=\"simple_spc\" name=\"simple_spc\" value=\"43483945565972\" />\n  <script type=\"text/javascript\">\n  document.getElementById(\"si\" + \"mple\" + \"_spc\").value = \"43483945565972-43483945565972\";\n  </script>\n</form></body>\n</html>\n","x":417.20001220703125,"y":62.19999694824219,"wires":[["33c7ee1f.15273a"]]},{"id":"33c7ee1f.15273a","type":"http response","z":"5109f61b.04ee98","name":"","x":714.2000122070312,"y":75.19998168945312,"wires":[]},{"id":"ab485113.108f68","type":"http in","z":"5109f61b.04ee98","name":"","url":"/form","method":"post","swaggerDoc":"","x":155.1999969482422,"y":163.19998168945312,"wires":[["a636ba18.a5ab6","9711cb65.5525d"]]},{"id":"a636ba18.a5ab6","type":"template","z":"5109f61b.04ee98","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        {{#payload.q4_name}}\n        <h1>Bom dia {{payload.q4_name}}, obrigado pela sua mensagem !</h1>\n        {{/payload.q4_name}}\n        {{^payload.q4_name}}\n        <h1>Nome é um campo obrigatório !</h1>\n        {{/payload.q4_name}}\n    </body>\n</html>","x":426.20001220703125,"y":247.19998168945312,"wires":[["81769c36.e6765"]]},{"id":"81769c36.e6765","type":"http response","z":"5109f61b.04ee98","name":"","x":667.2000122070312,"y":322.1999816894531,"wires":[]},{"id":"e801a77b.2e9b1","type":"debug","z":"5109f61b.04ee98","name":"msg1","active":true,"console":"false","complete":"payload","x":705.1999969482422,"y":163.19998168945312,"wires":[]},{"id":"9711cb65.5525d","type":"function","z":"5109f61b.04ee98","name":"","func":"var msg2 = { \n    payload: ''\n}\n\nif (msg.payload.q4_name) {\n    msg.payload = \"Um mensagem foi recebida de \" + msg.payload.q4_name + \", seguir o fluxo de processamento.\";\n} else {\n    msg2.payload = \"Mensagem invalida, campo nome não foi preenchido. Não da seguimento a execução do fluxo.\";\n}\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":465.1999969482422,"y":183.19998168945312,"wires":[["e801a77b.2e9b1"],["e2950d1b.a41548"]]},{"id":"e2950d1b.a41548","type":"debug","z":"5109f61b.04ee98","name":"msg2","active":true,"console":"false","complete":"payload","x":705.1999969482422,"y":243.19998168945312,"wires":[]}]