nodered/refe_ESP8266.txt
[{"id":"668b178a.70ef78","type":"mqtt-broker","z":"eff0aec4.57e7d","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d4b9dd2e.4da7b","type":"mqtt in","z":"eff0aec4.57e7d","name":"","topic":"board/state","broker":"668b178a.70ef78","x":358.20001220703125,"y":123.19999694824219,"wires":[["9734bfdf.e6e7d"]]},{"id":"5601f4d5.208064","type":"debug","z":"eff0aec4.57e7d","name":"","active":false,"console":"false","complete":"false","x":842.7000122070312,"y":122.60002136230469,"wires":[]},{"id":"9734bfdf.e6e7d","type":"function","z":"eff0aec4.57e7d","name":"","func":"var jObject = JSON.parse(msg.payload);\nif(jObject.led == 0) {\n    msg.payload = \"OFF\";\n} else {\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":535.7000122070312,"y":123.39997863769531,"wires":[["5601f4d5.208064","7f2da3fd.7a49f4"]]},{"id":"e1495909.827a88","type":"debug","z":"eff0aec4.57e7d","name":"","active":true,"console":"false","complete":"false","x":797.7000122070312,"y":338.59996032714844,"wires":[]},{"id":"17d2c60a.14346a","type":"function","z":"eff0aec4.57e7d","name":"","func":"if(msg.payload == \"ON\") {\n   msg.payload = '{\"led\":1}';\n} else if(msg.payload == \"OFF\") {\n   msg.payload = '{\"led\":0}';\n} else {\n   msg.payload = '{\"led\":-1}';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":498.70001220703125,"y":269.5999755859375,"wires":[["e1495909.827a88","7f2da3fd.7a49f4"]]},{"id":"7f2da3fd.7a49f4","type":"mqtt out","z":"eff0aec4.57e7d","name":"","topic":"board/commands","qos":"0","retain":"false","broker":"668b178a.70ef78","x":806.7000122070312,"y":240.19993591308594,"wires":[]},{"id":"6483601e.f844","type":"inject","z":"eff0aec4.57e7d","name":"inverte saida","topic":"","payload":"teste","payloadType":"str","repeat":"","crontab":"","once":true,"x":338.70001220703125,"y":269.39996337890625,"wires":[["17d2c60a.14346a"]]},{"id":"e771f7dd.a4cdf8","type":"inject","z":"eff0aec4.57e7d","name":"","topic":"","payload":"{\"mqtt\":{\"enable\":1,\"ip\":\"192.168.0.123\",\"user\":\"teste\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":437.7000274658203,"y":412.3999481201172,"wires":[["7f2da3fd.7a49f4","e1495909.827a88"]]},{"id":"70ccd299.7b5304","type":"inject","z":"eff0aec4.57e7d","name":"","topic":"","payload":"{\"mqtt\":{\"enable\":1}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":409.4000244140625,"y":355.59996032714844,"wires":[["7f2da3fd.7a49f4","e1495909.827a88"]]},{"id":"bf874bdd.e11a3","type":"mqtt in","z":"eff0aec4.57e7d","name":"","topic":"board/state/cozinha","broker":"668b178a.70ef78","x":378.70001220703125,"y":76.199951171875,"wires":[["9734bfdf.e6e7d"]]}]