nodered/refe_pagina.txt
[{"id":"44fe4a43.2301b4","type":"subflow","name":"form","info":"","in":[],"out":[{"x":160,"y":30,"wires":[]}]},{"id":"6235588a.a8b798","type":"http in","z":"44fe4a43.2301b4","name":"","url":"/form","method":"get","swaggerDoc":"","x":150,"y":140,"wires":[["969d34ba.1575b"]]},{"id":"969d34ba.1575b","type":"template","z":"44fe4a43.2301b4","name":"form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html class=\"supernova\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n<link rel=\"alternate\" type=\"application/json+oembed\" href=\"https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F61325869960668\" title=\"oEmbed Form\"><link rel=\"alternate\" type=\"text/xml+oembed\" href=\"https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F61325869960668\" title=\"oEmbed Form\">\n<meta property=\"og:title\" content=\"Formulário\" >\n<meta property=\"og:url\" content=\"http://www.jotformz.com/form/61325869960668\" >\n<meta property=\"og:description\" content=\"Please click the link to complete this form.\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0\" />\n<meta name=\"HandheldFriendly\" content=\"true\" />\n<title>Formulário</title>\n<link href=\"https://cdn.jotfor.ms/static/formCss.css?3.3.13189\" rel=\"stylesheet\" type=\"text/css\" />\n<link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdn.jotfor.ms/css/styles/nova.css?3.3.13189\" />\n<link type=\"text/css\" media=\"print\" rel=\"stylesheet\" href=\"https://cdn.jotfor.ms/css/printForm.css?3.3.13189\" />\n<link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?\"/>\n<style type=\"text/css\">\n    .form-label-left{\n        width:150px !important;\n    }\n    .form-line{\n        padding-top:12px;\n        padding-bottom:12px;\n    }\n    .form-label-right{\n        width:150px !important;\n    }\n    body, html{\n        margin:0;\n        padding:0;\n        background:false;\n    }\n\n    .form-all{\n        margin:0px auto;\n        padding-top:20px;\n        width:650px;\n        color:#555 !important;\n        font-family:\"Lucida Grande\", \"Lucida Sans Unicode\", \"Lucida Sans\", Verdana, sans-serif;\n        font-size:14px;\n    }\n</style>\n\n<script src=\"https://cdn.jotfor.ms/static/prototype.forms.js\" type=\"text/javascript\"></script>\n<script src=\"https://cdn.jotfor.ms/static/jotform.forms.js?3.3.13189\" type=\"text/javascript\"></script>\n<script type=\"text/javascript\">\n   JotForm.init(function(){\n      setTimeout(function() {\n          $('input_3').hint('ex: myname@example.com');\n       }, 20);\n      JotForm.alterTexts({\"required\":\"Este campo é obrigatório.\",\"requireOne\":\"Pelo menos um campo é requisitado\",\"requireEveryRow\":\"Todos os campos são requeridos.\",\"requireEveryCell\":\"Toda célula é requisitada.\",\"alphabetic\":\"Este campo pode conter apenas letras\",\"cyrillic\":\"Este campo aceita apenas caracteres cirilicos.\",\"url\":\"This field can only contain a valid URL\",\"numeric\":\"Este campo pode conter apenas números\",\"alphanumeric\":\"Este campo só pode conter letras e números.\",\"currency\":\"Este campo apenas admite valores monetários.\",\"fillMask\":\"Valor do campo deve preencher máscara.\",\"incompleteFields\":\"Há campos obrigatórios incompletos. Por favor, preencha-os.\",\"uploadFilesize\":\"O tamanho do arquivo não pode ser maior que:\",\"uploadFilesizemin\":\"O ficheiro não pode ser menor que:\",\"confirmClearForm\":\"Você tem certeza que quer limpar este formulário?\",\"lessThan\":\"A sua pontuação deve ser inferior ou igual a\",\"email\":\"Digite um endereço de e-mail válido.\",\"uploadExtensions\":\"Só pode fazer upload dos seguintes ficheiros:\",\"pleaseWait\":\"Por favor aguarde...\",\"confirmEmail\":\"E-mail não confere\",\"submissionLimit\":\"Foi mal, mas apenas um envio de dados é permitido. Múltiplas submissões estão desativadas nesse formulário.\",\"gradingScoreError\":\"Pontuação total deve ser menor ou igual a \",\"inputCarretErrorA\":\"A entrada não deve ser menor do que o valor mínimo:\",\"inputCarretErrorB\":\"Valor não deve ser maior do que o máximo:\",\"maxDigitsError\":\"O numero máximo de caracteres permitidos são\",\"freeEmailError\":\"Não são permitidas contas de email gratuitas\",\"minSelectionsError\":\"O número mínimo exigido de seleções é\",\"maxSelectionsError\":\"O número máximo de seleções permitido é\",\"pastDatesDisallowed\":\"A data não pode ser passada.\",\"dateLimited\":\"This date is unavailable.\",\"dateInvalid\":\"This date is not valid. The date format is {format}\",\"multipleFileUploads_typeError\":\"O arquivo {file} é inválido, pois somente as extensões {extensions} são permitidas.\",\"multipleFileUploads_sizeError\":\"{file} é muito grande, o tamanho máximo é {sizeLimit}.\",\"multipleFileUploads_minSizeError\":\"{file} é muito pequeno, o tamanho mínimo do arquivo é {minSizeLimit}.\",\"multipleFileUploads_emptyError\":\"{file} está vazio, por favor selecione os arquivos de novo.\",\"multipleFileUploads_onLeave\":\"Os arquivos agora estão em upload, se você sair agora o upload será cancelado.\",\"multipleFileUploads_fileLimitError\":\"Somente são permitidos {fileLimit} envios de arquivos\",\"generalError\":\"Existem alguns erros no formulário. Corrija-os antes de continuar. \",\"generalPageError\":\"Há erros nesta página. Por favor, corrija-os antes de continuar.\",\"wordLimitError\":\"Too many words. The limit is\",\"wordMinLimitError\":\"Too few words.  The minimum is\",\"characterLimitError\":\"Too many Characters.  The limit is\",\"characterMinLimitError\":\"Too few characters. The minimum is\",\"ccInvalidNumber\":\"Credit Card Number is invalid.\",\"ccInvalidCVC\":\"Single Product w/ Single Choice Orders \",\"ccInvalidExpireDate\":\"Expire date is invalid.\",\"ccMissingDetails\":\"Please fill up the Credit Card details.\",\"ccMissingProduct\":\"Please select at least one product.\",\"ccMissingDonation\":\"Please enter numeric values for donation amount.\",\"disallowDecimals\":\"Please enter a whole number.\"});\n\tJotForm.clearFieldOnHide=\"disable\";\n\tJotForm.onSubmissionError=\"jumpToFirstError\";\n   });\n</script>\n</head>\n<body>\n<form class=\"jotform-form\" action=\"https://submit.jotformz.com/submit/61325869960668/\" method=\"post\" name=\"form_61325869960668\" id=\"61325869960668\" accept-charset=\"utf-8\">\n  <input type=\"hidden\" name=\"formID\" value=\"61325869960668\" />\n  <div class=\"form-all\">\n    <ul class=\"form-section page-section\">\n      <li class=\"form-line\" data-type=\"control_fullname\" id=\"id_1\">\n        <label class=\"form-label form-label-left form-label-auto\" id=\"label_1\" for=\"input_1\"> Nome </label>\n        <div id=\"cid_1\" class=\"form-input jf-required\">\n          <span class=\"form-sub-label-container\" style=\"vertical-align: top\">\n            <input class=\"form-textbox\" type=\"text\" size=\"10\" name=\"q1_nome[first]\" id=\"first_1\" />\n            <label class=\"form-sub-label\" for=\"first_1\" id=\"sublabel_first\" style=\"min-height: 13px;\"> Nome próprio </label>\n          </span>\n          <span class=\"form-sub-label-container\" style=\"vertical-align: top\">\n            <input class=\"form-textbox\" type=\"text\" size=\"15\" name=\"q1_nome[last]\" id=\"last_1\" />\n            <label class=\"form-sub-label\" for=\"last_1\" id=\"sublabel_last\" style=\"min-height: 13px;\"> Apelido </label>\n          </span>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_email\" id=\"id_3\">\n        <label class=\"form-label form-label-left form-label-auto\" id=\"label_3\" for=\"input_3\"> E-mail </label>\n        <div id=\"cid_3\" class=\"form-input jf-required\">\n          <input type=\"email\" class=\" form-textbox validate[Email]\" id=\"input_3\" name=\"q3_email\" size=\"30\" value=\"\" />\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_phone\" id=\"id_4\">\n        <label class=\"form-label form-label-left form-label-auto\" id=\"label_4\" for=\"input_4\"> Número de telefone </label>\n        <div id=\"cid_4\" class=\"form-input jf-required\">\n          <span class=\"form-sub-label-container\" style=\"vertical-align: top\">\n            <input class=\"form-textbox\" type=\"tel\" name=\"q4_numeroDe[area]\" id=\"input_4_area\" size=\"3\">\n            <span class=\"phone-separate\">\n              &nbsp;-\n            </span>\n            <label class=\"form-sub-label\" for=\"input_4_area\" id=\"sublabel_area\" style=\"min-height: 13px;\"> Código de área </label>\n          </span>\n          <span class=\"form-sub-label-container\" style=\"vertical-align: top\">\n            <input class=\"form-textbox\" type=\"tel\" name=\"q4_numeroDe[phone]\" id=\"input_4_phone\" size=\"8\">\n            <label class=\"form-sub-label\" for=\"input_4_phone\" id=\"sublabel_phone\" style=\"min-height: 13px;\"> Número de telefone </label>\n          </span>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_button\" id=\"id_2\">\n        <div id=\"cid_2\" class=\"form-input-wide\">\n          <div style=\"margin-left:156px\" class=\"form-buttons-wrapper\">\n            <button id=\"input_2\" type=\"submit\" class=\"form-submit-button\">\n              Enviar\n            </button>\n          </div>\n        </div>\n      </li>\n      <li style=\"display:none\">\n        Should be Empty:\n        <input type=\"text\" name=\"website\" value=\"\" />\n      </li>\n    </ul>\n  </div>\n  <input type=\"hidden\" id=\"simple_spc\" name=\"simple_spc\" value=\"61325869960668\" />\n  <script type=\"text/javascript\">\n  document.getElementById(\"si\" + \"mple\" + \"_spc\").value = \"61325869960668-61325869960668\";\n  </script>\n</form></body>\n</html>\n","x":350,"y":260,"wires":[["ec8df8fe.76317"]]},{"id":"ec8df8fe.76317","type":"http response","z":"44fe4a43.2301b4","name":"","x":550,"y":340,"wires":[]},{"id":"99eb18d9.9d84e","type":"debug","z":"5109f61b.04ee98","name":"","active":true,"console":"false","complete":"false","x":458.20001220703125,"y":199,"wires":[]},{"id":"2a77a184.878d96","type":"subflow:44fe4a43.2301b4","z":"5109f61b.04ee98","x":218.20001220703125,"y":119,"wires":[["99eb18d9.9d84e"]]}]