nodered/refe_POP_ModBus.txt
[{"id":"25301028.15b328","type":"modbustcp-server","z":"eff0aec4.57e7d","host":"192.168.0.254","port":"502","unit_id":"1"},{"id":"a8a47f8f.6763","type":"modbustcp-write","z":"8aa2eff0.88bc98","name":"EscreveSaida1","dataType":"Coil","adr":"0","server":"25301028.15b328","x":561.2000122070312,"y":245.1999969482422,"wires":[]},{"id":"1896a152.1d4d57","type":"modbustcp-read","z":"8aa2eff0.88bc98","name":"le_saida1","dataType":"Coil","adr":"0","quantity":"1","server":"25301028.15b328","x":370.2000274658203,"y":99.5999755859375,"wires":[["188a924e.7042e6"]]},{"id":"188a924e.7042e6","type":"debug","z":"8aa2eff0.88bc98","name":"","active":true,"console":"false","complete":"false","x":616.2000274658203,"y":106,"wires":[]},{"id":"859348a1.0168e8","type":"inject","z":"8aa2eff0.88bc98","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":227.20001220703125,"y":231.5999755859375,"wires":[["a8a47f8f.6763"]]},{"id":"975b32e8.9e2e1","type":"inject","z":"8aa2eff0.88bc98","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":227.20001220703125,"y":285.59996032714844,"wires":[["a8a47f8f.6763"]]},{"id":"41ea2db9.862c5c","type":"inject","z":"8aa2eff0.88bc98","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":169.2000274658203,"y":97.5999755859375,"wires":[["1896a152.1d4d57"]]},{"id":"b55da045.bbff9","type":"modbustcp-read","z":"8aa2eff0.88bc98","name":"le_x","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"25301028.15b328","x":359.90003967285156,"y":167.79998779296875,"wires":[["188a924e.7042e6"]]},{"id":"15e1dba5.a7ab0c","type":"inject","z":"8aa2eff0.88bc98","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":168.9000244140625,"y":153.79998779296875,"wires":[["b55da045.bbff9"]]},{"id":"8491070e.67443","type":"modbustcp-write","z":"8aa2eff0.88bc98","name":"EscreveX=1","dataType":"HoldingRegister","adr":"2","server":"25301028.15b328","x":561.9000396728516,"y":360.79998779296875,"wires":[]},{"id":"a0072c7a.fc0fc8","type":"inject","z":"8aa2eff0.88bc98","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":226.20001220703125,"y":353,"wires":[["8491070e.67443"]]},{"id":"9984fb7d.a33b8","type":"modbustcp-write","z":"8aa2eff0.88bc98","name":"EscreveS2=4","dataType":"HoldingRegister","adr":"0","server":"25301028.15b328","x":571.4000549316406,"y":429.79998779296875,"wires":[]},{"id":"bde7c03e.917d1","type":"inject","z":"8aa2eff0.88bc98","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":215.7000274658203,"y":422,"wires":[["9984fb7d.a33b8"]]},{"id":"e638874c.fe9b5","type":"inject","z":"8aa2eff0.88bc98","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":219.9000244140625,"y":490.79998779296875,"wires":[["9984fb7d.a33b8"]]}]